﻿
@{
    ViewBag.Title = "PostHome";
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<h2>PostHome</h2>

<script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.postHomeHub;

            notifications.client.updatePostHome = function (updatedPostHome) {
                console.log(updatedPostHome);
            }
            notifications.client.postHome = function (postHome) {
                console.log(postHome);
            }
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.deletePostHome = function (id) {
                console.log(id);

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAllPostHome();
            }).fail(function (e) {
                alert(e);
            });
        });

        function getAllPostHome() {
            var tbl = $('#messagesTable');
            $.ajax({
                url: '/api/post/home',
                contentType: 'application/json ; charset:utf-8',
                type: 'GET',
                dataType: 'JSON'
            }).success(function (result) {
                var $itemList = $(document).find("#item-list>.item");
                for (item in result) {

                }
            }).error(function () {

            });
        }
</script>