﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Form -->
            <div class="card">
                <form class="form-horizontal" id="postLand" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <h4 class="card-title">Post Land Information</h4>
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="Title" placeholder="Title">
                            </div>
                        </div>
                        <fieldset id="PostDetail">
                            <div class="form-group row">
                                <div class="col-12">
                                    <input type="text" class="form-control" name="LandLength" placeholder="Length">
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-12">
                                    <input type="text" class="form-control" name="LandWidth" placeholder="Width">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset id="location">
                            <div class="form-group row">
                                <div class="col-12">
                                    <input type="text" class="form-control" name="LocationName" placeholder="Location Name">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">

                            <div class="col-12">
                                <select class="select2 form-control custom-select" name="PropertyCondition" style="width: 100%; height:36px;">
                                    <option value="Sale">Sale</option>
                                    <option value="Rent">Rent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="Price" placeholder="Price">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <textarea name="Description" rows="8" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <input type="file" name="Images[]" value="" multiple/>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                   
                </form>
            </div>

            <!-- end form-->
        </div>
    </div>
 </div>

@Scripts.Render("~/Scripts/file-library.js")
<script>
    $(function () {
        function jQFormSerializeArrToJson(formSerializeArr ) {
            var jsonObj = {};
            jQuery.map(formSerializeArr, function (n, i) {
                jsonObj[n.name] = n.value;
            });

            return jsonObj;
        }

        var Images = [];
        $("[name='Images[]']").on('change', function (e) {
            base64(this.files, function (data) {
                Images.push(data.base64);
            })
        });

        $("#postLand").submit(function (e) {
            e.preventDefault();
            var frmData = jQFormSerializeArrToJson( $("#postLand").serializeArray());
            frmData.PostDetail = jQFormSerializeArrToJson($("#PostDetail").serializeArray());
            frmData.Location = jQFormSerializeArrToJson($("location").serializeArray());
            frmData.Images = Images;
            function sendData(frmData) {
                
                $.ajax({
                    url: '/api/post/land',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(frmData),

                }).done(function (data) {
                    console.log(data);
                });
            }
            sendData(frmData);
        });
    });
   
</script>
