﻿@{
    ViewBag.Title = "Post Land";
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div>
                <div class="text-right">
                    <!-- Button trigger modal -->
                    <button type="button" id="createPostLand" class="btn btn-primary" data-toggle="modal" data-target="#createPostLandModal">
                        Create New
                    </button>
                    <button type="button" id="editPostLand" class="btn btn-primary" data-toggle="modal" data-target="#editPostLandModal">
                        Edit
                    </button>
                    <button type="button" id="deletePostLand" class="btn btn-danger">
                        Delete
                    </button>
                </div>


                <!-- Modal -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="PostLand" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Width</th>
                                <th>Length</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Width</th>
                                <th>Length</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Create PostLand Modal-->
<div class="modal fade" id="createPostLandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" id="formPostLand">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Post Land</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card-body modal-body">

                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" name="Title" placeholder="Title" class="form-control post-data" id="Title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="Price">Price</label>
                            <div class="input-group">
                                <input type="text" name="Price" class="form-control post-data" placeholder="5.000" aria-label="Recipient 's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">$</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="PropertyCondition">
                                For
                            </label>
                            <select name="PropertyCondition" class="form-control post-data">
                                <option value="">Select</option>
                                <option value="Rent">Rent</option>
                                <option value="Sale">Sale</option>
                            </select>

                        </div>

                        <div class="form-group col">
                            <label for="Images">Images</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="Images" required="" multiple>
                                <label class="custom-file-label" for="validatedCustomFile">Choose Images...</label>
                            </div>
                        </div>
                    </div>
                    <fieldset id="Location">
                        <legend>Location</legend>
                        <div class="form-row">

                            <div class="form-group col">
                                <label for="Longitude">
                                    Longitude
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Longitude">
                                </div>

                            </div>
                            <div class="form-group col">
                                <label for="Latitude">
                                    Latitude
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Latitude">
                                </div>
                            </div>
                            <div class="form-group col">
                                <label for="LocationName">
                                    Location Name
                                </label>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="LocationName">
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="PostDetail">
                        <legend>Details</legend>
                        <div class="form-row">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Width" name="LandWidth">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" placeholder="Length" class="form-control" name="LandLength">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <textarea name="Description" class="form-control post-data" placeholder="describe about land"></textarea>
                    </div>

                </div>
                <div class="border-top modal-footer">
                    <div class="card-body">
                        <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </div>
                </div>
            </form>


        </div>
    </div>
</div>


<!-- Edit PostLand Modal-->
<div class="modal fade" id="editPostLandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" id="editFormPostLand">
                <input type="hidden" class="post-data" name="Id" value="" model="Land.Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Post Land</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card-body modal-body">

                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" name="Title" model="Land.Title" placeholder="Title" class="form-control post-data" id="Title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="Price">Price</label>
                            <div class="input-group">
                                <input type="text" name="Price" class="form-control post-data" placeholder="5.000" aria-label="Recipient 's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">$</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="PropertyCondition">
                                For
                            </label>
                            <select name="PropertyCondition" class="form-control post-data">
                                <option value="">Select</option>
                                <option value="Rent">Rent</option>
                                <option value="Sale">Sale</option>
                            </select>

                        </div>

                        <div class="form-group col">
                            <label for="Images">Images</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="Images" multiple>
                                <label class="custom-file-label" for="validatedCustomFile">Choose Images...</label>
                            </div>
                        </div>


                    </div>
                    <div id="showImagesId">

                    </div>
                    <fieldset id="Location">
                        <legend>Location</legend>
                        <div class="form-row">

                            <div class="form-group col">
                                <label for="Longitude">
                                    Longitude
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" model="Land.Location.Longitude" name="Longitude">
                                </div>

                            </div>
                            <div class="form-group col">
                                <label for="Latitude">
                                    Latitude
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Latitude">
                                </div>
                            </div>
                            <div class="form-group col">
                                <label for="LocationName">
                                    Location Name
                                </label>

                                <div class="input-group">
                                    <input type="text" class="form-control" name="LocationName">
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="PostDetail">
                        <legend>Details</legend>
                        <div class="form-row">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Width" name="LandWidth">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" placeholder="Length" class="form-control" name="LandLength">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <textarea name="Description" class="form-control post-data" placeholder="describe about land"></textarea>
                    </div>

                </div>
                <div class="border-top modal-footer">
                    <div class="card-body">
                        <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </div>
                </div>
            </form>


        </div>
    </div>
</div>



<script src="~/Scripts/app-support.js"></script>

<script src="~/Scripts/alertify.min.js"></script>
<script type="text/javascript">


    $(function () {
        var table;
        //edit post land
        $("#editPostLand").on('click', function (e) {
            var data = table.row('.selected').data();

            var obj = [
                { name: "Id", value: data.Id },
                { name: "Title", value: data.Title },
                { name: "Price", value: data.Price },
                { name: "PropertyCondition", value: "Rent" },
                { name: "Longitude", value: data.Location.Longitude },
                { name: "Latitude", value: data.Location.Latitude },
                { name: "LocationName", value: data.Location.LocationName },
                { name: "LandWidth", value: data.PostDetail.LandWidth },
                { name: "LandLength", value: data.PostDetail.LandLength },
                { name: "Description", value: data.Description }
            ]

            $.each(data.Images, function (index, value) {
                $("#showImagesId").append(`<img src="${value}" alt="${data.Title}" style="width: 150px;height:150px;" class="img-thumbnail">`);
            });
            var $form = $("#editFormPostLand");
            $form.setField(obj);
        });

        var obj = [];
        $("[name='Images']").on("change", function (e) {
            var files = $(this)[0].files;
            base64(files, function (data) {
                obj.push(data.base64);
                //console.log(`${JSON.stringify(data.base64)}`);
            });
        });

        $("#editFormPostLand").submit(function (e) {
            const formId = this.id;

            var postLand = $(`#${formId} .post-data`).serializeObject();
            postLand["Location"] = $(`#${formId} #Location`).serializeObject();
            postLand["PostDetail"] = $(`#${formId} #PostDetail`).serializeObject();
            postLand["Images"] = obj;
            $.ajax({
                url: '/api/post/land/' + postLand.Id,
                contentType: 'application/json',
                type: 'PUT',
                data: JSON.stringify(postLand)
            }).done(function (data) {
                alert("Succesfully!")
                
            }).fail(function (error) {
                alert("Fail!");
            });
            e.preventDefault();
        });

        $("#deletePostLand").click(function (e) {
            var data = table.row('.selected').data();
            $.ajax({
                url: '/api/post/land/' + data.Id,
                contentType: 'application/json',
                type: 'DELETE',
            }).done(function (data) {
                alert("Successfully!")
                }).fail(function (error) {
                    alert("Fail!")
                });
        });

        $("#formPostLand").submit(function (e) {
            var formId = this.id;
            e.preventDefault();


            var postLand = $(`#${formId} .post-data`).serializeObject();
            postLand[`Location`] = $(`#${formId} #Location`).serializeObject();
            postLand["PostDetail"] = $(`#${formId} #PostDetail`).serializeObject();
            postLand["Images"] = obj;
            console.log(postLand);
            $.ajax({
                url: '/api/post/land',
                contentType: 'application/json',
                type: 'POST',
                data: JSON.stringify(postLand)
            }).done(function (data) {
                $(e.currentTarget).trigger('reset');
                alert("Successfully!")
            }).fail(function (error) {
                alert("Fail!");
            });
        })

        // Declare a proxy to reference the hub.
        var notifications = $.connection.postLandHub;

        notifications.client.updatePostLand = function (updatedPostLand) {
            table.row('.selected').data(updatedPostLand).draw();
        }
        notifications.client.postLand = function (postLand) {
            table.row.add(postLand).draw();

        }
        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.deletePostLand = function (id) {

            var data = table.row('.selected').remove().draw(false);
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            table = getAllPostLand();
        }).fail(function (e) {
            alert(e);
        });
    });

    function getAllPostLand() {
        table = $("#PostLand").DataTable({
            ajax: {
                url: '/api/post/land',
                dataSrc: ''
            },
            columns: [
                { data: 'Title' },
                { data: 'Description' },
                { data: 'Location.LocationName' },
                { data: 'Price' },
                { data: 'PostDetail.LandWidth' },
                { data: 'PostDetail.LandLength' },

            ]
        });
        return table;
    }

    $('#PostLand tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

</script>
