﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<h2>Index</h2>
<script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.entertainmentHub;

            notifications.client.updateEntertainment = function (updatedEntertainment) {
                console.log(updatedEntertainment);
            }
            notifications.client.postEntertainment = function (postEntertainment) {
                console.log(postEntertainment);
            }
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.deleteEntertainment = function (id) {
                console.log(id);

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAllEntertainment();
            }).fail(function (e) {
                alert(e);
            });
        });

        function getAllEntertainment() {
            var tbl = $('#messagesTable');
            $.ajax({
                url: '/api/post/entertainment',
                contentType: 'application/json ; charset:utf-8',
                type: 'GET',
                dataType: 'JSON'
            }).success(function (result) {
                var $itemList = $(document).find("#item-list>.item");
                for (item in result) {

                }
            }).error(function () {

            });
        }
</script>

