﻿@using System.Web.Mvc.Html
@model PropertyPosting.Models.Domains.PostType

@{
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<h2>Post type</h2>

@using (Html.BeginForm("Add", "PostType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(p => p.Id)

    @Html.LabelFor(p => p.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })

    <br />
    @Html.LabelFor(p => p.Other, htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    @Html.EditorFor(p => p.Other, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.ValidationMessageFor(p => p.Other, "", new { @class = "text-danger" })

    <br />
    <input type="submit" value="Create" class="btn btn-default" />

}

<br /><br />
@Html.ActionLink("Back", "Index", "PostType")
