﻿@using System.Web.Mvc.Html
@model IEnumerable<PropertyPosting.Models.Domains.PostType>

@{
    Layout = "~/Views/Administrator/Layout/AdministratorLayout.cshtml";
}

<h2>Post type</h2>

<br /><br />
@Html.ActionLink("[Back]", "Index", "Home")
@Html.ActionLink("[Add]", "Add", "PostType")

<br /><br />
<hr />
<table border="1" width="100%" style="border: 1px solid black; border-collapse: collapse;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Other</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var postType in Model)
        {
            <tr>
                <td>@postType.Id</td>
                <td>@postType.Name</td>
                <td>@postType.Other</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "PostType", new {id = postType.Id}, null)
                    @Ajax.ActionLink("Edit", "Edit", "PostType", new { id = postType.Id }, new AjaxOptions { HttpMethod = "POST" })
                </td>
            </tr>
        }
    }
    </tbody>
</table>